*.pyc
05 Website Localization/Prep/
05 Website Localization/www.havasu-falls.com/
05 Website Localization/.ipynb_checkpoints/Website Localization Prep-checkpoint.ipynb
09 Alignment NL/
07 Placeholder Check/07 Placeholder Check.zip
08 Alignment/1_ebooks/ebooks.zip
01 Regex Locale Codes/.vscode/settings.json
